
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
*{
    text-decoration: none;
    margin:0px;
    padding:0;
    box-sizing: border-box;
}
h1{
    font-size: 60px;
    background-color:rgb(17,143,158);
    color:rgb(255, 255, 255);
    border-radius: 10px;
    padding: 50px;
  }
  nav{
    background-color: #333;
    overflow:hidden;
  }
  nav a{
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    float: left;

  }
  a :hover{
    color: rgb(138, 135, 135);
  }
  .MAIN_quote {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(17,143,158);
    text-align: center;
    background-color: black;
    padding: 25px;
    height: 60%;
  }

  footer{
    background-color: rgb(111, 111, 111);
    overflow: hidden;
  }
  footer a{
    color: rgb(255, 255, 255);
    padding: 40px 40px;
    float: left;
    text-align: center;
  }
  input[type="submit"]{
    width: 40%;
    height: 50px;
    border: 1px solid;
    background-color:rgb(47, 42, 42);
    border-radius: 25px;
    font-size: 18px;
    color: aliceblue;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
  input[type="submit"]:hover{
    background-color: white;
    color: rgb(47, 42, 42);
    transition: ease .4s;
}
h2{
  font-size: 50px;
  background-color: rgb(135, 135, 135);
  color: rgb(46, 179, 212);
}